.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.form-bordered {
    margin: 0px;
}

.product-form .form-group {
    padding-top: 0px;
    padding-bottom: 5px;
}

.product-form .block {
    padding-bottom: 20px;
}

.product-form .form-control[readonly] {
    background-color: transparent;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}

.quantity-td {
    display: flex;
    justify-content: center;
}

.quantity-td .input-group {
    width: 70%;
}

.qtyBox .btn {
    border-radius: 0px;
}

.net-amount-block .bg-info {
    padding: 10px 15px;
    border-radius: 10px;
}

.net-amount-block .bg-info h3 {
    margin: 12px auto;
}

.net_amount {
    font-weight: bold;
}

.product-list-block {
    min-height: 300px;
}

.alertify-notifier .ajs-message.ajs-success {
    color: #fff;
    background: #27ae60 !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0, 5);
}

.alertify-notifier .ajs-message.ajs-error {
    color: #fff;
    background: #e74c3c !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0, 5);
}

/* .select2-container {
    width: 100% !important;
} */
.nav-horizontal li a {
    color: #000;
}

.nav-horizontal li .bg-success,
.nav-horizontal li .bg-success:hover {
    background-color: #daf2e4;
}

.nav-horizontal li .bg-success i {
    color: #27ae60
}

.nav-horizontal li .bg-warning,
.nav-horizontal li .bg-warning:hover {
    background-color: #ffe4cc;
}

.nav-horizontal li .bg-warning i {
    color: #e67e22;
}

.nav-horizontal li .bg-info,
.nav-horizontal li .bg-info:hover {
    background-color: #dae8f2;
}

.nav-horizontal li .bg-info i {
    color: #3498db;
}

.nav-horizontal li .bg-amethyst,
.nav-horizontal li .bg-amethyst:hover {
    background-color: #eccdf7;
}

.nav-horizontal li .bg-amethyst i {
    color: #af64cc;
}

/* Invoice page */
.invoice-logo img {
    width: 200px;
}

.invoice-logo h5,
.customer-details table tr td h5 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 5px;
}

.customer-details {
    padding-top: 30px;
}

.company-details table {
    width: 100%;
    border-left: 1px solid;
}

.wa_logo {
    width: 38px;
}

.phone-section {
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

.qr-section {
    border-left: 1px solid;
}

.qr-section img {
    width: 90%;
}

.product-logos img {
    padding-left: 30px;
}

.product-logos .apple_logo {
    width: 80px;
    margin-left: 90px;
}

.product-logos .leeq_logo,
.product-logos .hello_logo {
    width: 170px;
}

.company-details table tr td {
    padding: 10px;
}

.company-details table tr td h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding-bottom: 5px;
}

.company-details table tr td h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    padding-bottom: 5px;
}

.gst-section {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.gst-section h5 {
    padding: 5px 0px;
}

.instagram_logo {
    width: 36px;
}

.social-section h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-left: 5px;
}

.address-section h5 {
    line-height: 1.5;
}

/* .products_list {
    background-image: url('../img/lee_gray1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

.products_list {
    border: 0px;
}

.products_list thead tr+tr,
.products_list tbody tr+tr {
    border-top: 2px solid #000;
}

.products_list thead tr th,
.products_list tbody tr td {
    border-left: 0px;
}

.products_list thead tr th+th,
.products_list tbody tr td+td {
    border-left: 2px solid #000;
}

.products_list>thead>tr>th {
    border-bottom: 2px solid #000 !important;
}

.products_list thead tr th {
    font-weight: bold;
}

.products_list thead tr th:last-child,
.products_list tbody tr td:last-child {
    padding-right: 45px;
}

.products_list tbody tr td {
    height: 76px;
}

.products_list tbody tr td h5 {
    font-weight: 400;
}

.descrip-block {
    position: relative;
}

.products_list {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .descrip-block {
    background-image: url('http://localhost/Git_projects/leestore_billing/assets/img/invoice/tab_bg1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 21px 21px 25px 22px;
} */

.footer-block {
    margin-top: 30px;
}

.footer-block table tr td h5 {
    font-size: 16px;
    font-weight: 600;
}

.footer-block table tr td p {
    font-size: 12px;
    width: 60%;
    margin-bottom: 5px;
}

.footer-block table tr td h6 {
    font-weight: 600;
}

.sale-person {
    width: 40%;
    text-align: center;
}

.signature-row td {
    padding-top: 120px;
}

.signature-row td:first-child h5 {
    padding-left: 50px;
}

.discount_row td {
    height: 10px !important;
}

.discount_row td h5 {
    font-size: 14px;
    font-weight: 600 !important;
}

td.dotted-line {
    border-bottom: 1px dotted;
    width: 75%;
}

.top_border,
.bottom_border {
    width: 100%;
}

.top_border {
    padding-bottom: 20px;
}

.bottom_border {
    padding-top: 20px;
}

.invoice-content-block {
    padding-left: 30px;
    padding-right: 30px;
}

/* Invoice page */